<div class="md-color-picker-input-container" layout="row">
	<div class="md-color-picker-preview md-color-picker-checkered-bg" ng-click="showColorPicker($event)" ng-if="mdColorPreview">
		<div class="md-color-picker-result" ng-style="{background: value}"></div>
	</div>
	<md-input-container flex>
		<label><md-icon ng-if="icon">{{icon}}</md-icon>{{label}}</label>
		<input type="input" ng-model="value" class='md-color-picker-input'
			ng-required="mdColorRequired" md-no-asterisk="true" name="{{ ::mdColorName }}"
			ng-mousedown="(openOnInput || !mdColorPreview) && showColorPicker($event)"
			ng-readonly="mdColorReadonly"/>
			<div ng-messages="pageForm[mdColorName].$error" class="error-messages ng-active">
				<div ng-message="required">You must supply a value</div>
				<div ng-transclude class="error-messages md-input-message-animation"></div>
			</div>
	</md-input-container>
	<md-button class="md-icon-button md-color-picker-clear" ng-if="mdColorClearButton && value" ng-click="clearValue();" aria-label="Clear Color">
		<md-icon md-svg-icon="clear.svg"></md-icon>
	</md-button>
</div>
